*
  box-sizing: border-box

html, body
  height: 100%

body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  color: #335533
  margin: 1em
  background: #3cc
  
h1
  transform: rotate(-90deg) 
  display: inline-block
  box-shadow: 13px 0px 30px 30px rgba(238,238,238,.5)
  background-color: #eee
  color: rgb(161,55,161)

h2
  box-shadow: 10px 10px 35px 0px rgba(161,55,161,1)
  background-color: rgb(161,55,161)
  color: #ccc
